body {
  background: rgb(7, 7, 32);
}
.App {
  text-align: center;
  
}
.App-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-width: 220px;
}

.Produtos{
  border: 1px solid orange;
  border-radius: 10px;
  background: white;
  color: black;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
}
.Qualquer{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-right: 50px;
  margin-left: 50px;
}
h1{
  color: white;
}
h3{
  margin: 0;
  background: orange;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.btn{
  margin-top: 160px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 80px;
  background: orange;
  border: 2px solid black;
  cursor: pointer;
}

.preco{
  color: black;
}

.subtotal{
  color: white;
  margin-right: 150px;
  position: absolute;
  top: 0;
  left: 40%;
  margin-top: 5px;
}
.voltar, .pesquisar{
  padding: 10px;
  border: 1px solid transparent;
  background-color: orange;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.voltar{
  margin-right: 30px
}
.input{
  padding: 10px;
  border: 1px solid transparent;
  outline: none;
}
.pesquisar{
  margin-left: 30px
}

@media (min-width:769px){
  .subtotal{
    position: relative;
    left: 50%;
  }
}